<!DOCTYPE html>

<html>

<head>
    <% include ../partials/head %>

</head>
<body>
    <div class="container">
        <div class="col-md-8">
        <div class="form-group">
            <h4> Haus Nr. <%= houseNo %>  </h4>
            <p> <%= venueAddress %> </p>
            <h4>"<%= title %>" zu Gast: </h4>
            <h4><%= performerName %></h4>
            <form class="form-horizontal" role="form" id="paypalForm" method="post" action="/pay">
                <p>Ihre email-Adresse für eine Bestätigung und zur Identifikation am Einlass:</p>
                <input type="text" class="form-control" ng-model="email" name="buyer" placeholder="Enter your email" required>
                <br/>
                <p>Anzahl Tickets ?:</p>
                <select type= class="form-control"  name="amount"  placeholder="1">
                    <optgroup label="Select Table"></optgroup>  
                    <option value= "1" selected>1</option>  
                        <%
                            for (var i = 0; i < availableSeats-1; i++){
                            %>
                            <option value="<%= (i + 2).toString() %>"> <%= i + 2 %> </option>
                            <%
                                }
                        %>
                    </optgroup>
 
                    </select>

                    

                    <br/>
                     
                <br/>
                <br/>
                <input type="hidden" value="<%= id %>" name="id"/>
                <input type="hidden" value="<%= feeEur %>" name="feeEur"/>
                <input type="hidden" value="<%= houseNo %>" name="houseNo"/>
                <input type="hidden" value="<%= venueAddress %>" name="venueAddress"/>
                <input type="hidden" value="<%= title %>" name="title"/>
                <input type="hidden" value="<%= performerName %>" name="performerName"/>
                <input type="hidden" value="<%= availableSeats %>" name="availableSeats"/>

                <button class="btn submitBtn">Paypal Zahlung</button>
            </form>
        </div>
        </div>
      </div>
  

</body>

</html>