<!DOCTYPE html>

<html>
    <% include ../partials/head %>

<body>
    <div class="list-group">
        <!-- loop over blog posts and render them -->
        <% gigs.forEach((gig) => { 
            if (gig.startSeats - gig.soldSeats > 0) { %>
          <a  class="list-group-item">
            <h4 class="list-group-item-heading"> Haus Nr. <%= gig.houseNo %> </h4>
            <p class="list-group-item-text"><%= gig.venue.address %></p>
            <h4 class="list-group-item-text">"<%= gig.title %>"</h4>
            <p class="list-group-item-body"> zu Gast: <%= gig.performer.name %></p>
            <p class="list-group-item-body"> zum Preis von: <%= gig.feePPEur %> € (incl. PayPal-Gebühr)</p>
            <p class="list-group-item-body"> Plätze verfügbar: <%= gig.startSeats - gig.soldSeats %></p>
            
            <form class="form-horizontal" role="form" id="ItemForm" method="post" action="/buy">
                <input type="hidden" value="<%= gig._id %>" name="id"/>
                <input type="hidden" value="<%= gig.feePPEur %>" name="feePPEur"/>
                <input type="hidden" value="<%= gig.houseNo %>" name="houseNo"/>
                <input type="hidden" value="<%= gig.venue.address %>" name="venueAddress"/>
                <input type="hidden" value="<%= gig.title %>" name="title"/>
                <input type="hidden" value="<%= gig.performer.name %>" name="performerName"/>
                <input type="hidden" value="<%= gig.startSeats - gig.soldSeats %>" name="availableSeats"/>
                <button class="btn submitBtn">Jetzt kaufen</button>
            </form>

        </a>
        <br/>
        <% } else { %>
            <a  class="list-group-item">
              <h4 class="list-group-item-heading"> Haus Nr. <%= gig.houseNo %> </h4>
              <p class="list-group-item-text"><%= gig.venue.address %></p>
              <h4 class="list-group-item-text">"<%= gig.title %>"</h4>
              <p class="list-group-item-body"> zu Gast: <%= gig.performer.name %></p>
              <p class="list-group-item-body"> ist bereits ausverkauft. </p>
              <p class="list-group-item-body"> Wählen Sie bitte eine andere Veranstaltung. </p>
          </a>
          <br/>
          <% }
    }) %>

    </div>
    <div class="list-group">
        <a  class="list-group-item">
            <p class="list-group-item-body"> Hier geht's zurück zur Große-Kiesau-Literaturnacht. </p>
        </a>
        <form class="form-horizontal" role="form" id="ItemForm" method="get" action="https://www.grosse-kiesau.de/14-grosse-kiesau-literaturnacht-kommen-und-gehen/programm">

            <button class="btn submitBtn">Abbruch</button>
        </form>  

    </div>


  
  
</body>
</html>